.containerDetails {
  display: flex;
  justify-content: center;
  column-gap: 1vw;

  img {
    width: 25vw;
  }

  h1 {
    margin-bottom: 10px;
    font-size: 2rem;
  }

  p {
    max-width: 360px;
    color: #444242;
    margin-bottom: 20px;
  }
}

.recipeIfo {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  color: #444242;
  align-items: center;

  span {
    padding: 7px;
    border-radius: 8px;
    background-color: rgb(24, 159, 33);
    color: white;
    font-weight: 700;
    box-shadow: 1px 1px 5px 1px #8c8c8c;
  }

  span:nth-of-type(2) {
    background-color: #ef7727;
  }
}

.ingredients {
  color: #444242;
  margin-left: 15px;

  h4 {
    margin-bottom: 5px;
    color: #ef7727;
    font-size: 18px;
  }

  li {
    line-height: 2;
  }
}

.secondSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  line-height: 1.7;
  gap: 3%;

  h4 {
    margin-bottom: 5px;
    color: #ef7727;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
  }
}
